{% extends "base.html" %}

{% block title %} Bishop Blog: The car blog for car lovers by a car lover {% endblock %}


{% block content %}

  <br><br>
  <h1 style="color:white;">Bishop Blog</h1>
    <p>Here are all the posts</p>
    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

  
<div class="row"> 
    <div class="column">
  <div class="card" style="width: 18rem;">
    <img src="/static/img/ferrari-testarossa.jpg" class="card-img-top" alt=" ferrari-testarossa">
    <div class="card-body">
      <p class="card-text">Review of the ferrari-testarossa</p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/static/img/jdm_carmeet.jpg" alt="jdm_carmeet">
    <div class="card-body">
      <h5 class="card-title">JDM car meets in Nigeria</h5>
      <p class="card-text">I attended a jdm car meet last week </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

<div class="column">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/static/img/f1-1990-alain-prost-ferrari.jpg" alt="f1 1990 f1-1990-alain-prost-ferrari">
    <div class="card-body">
      <h5 class="card-title">F1 legends</h5>
      <p class="card-text">Let's talk legends - Schumacer, Prost, Senna</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

<div class="column">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/static/img/car_machine.jpg" alt="mercedes-benz-300sl-gullwing">
    <div class="card-body">
      <h5 class="card-title">Mercedes Benz 300SL Gullwing</h5>
      <p class="card-text">The Mercedes Benz 300SL Gullwing is a classic</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

<hr>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/porsche-carrera-.jpg" class="img-fluid rounded-start" alt="porsche-carrera-">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">porsche-carrera-</h5>
        <p class="card-text">I wrote about the porsche Mulan now let's talk about the carrera</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/ferrari-f430.jpg" class="img-fluid rounded-start" alt="ferrari-f430>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Ferrari-f430</h5>
        <p class="card-text">This is a review of the Ferrari Event at Lake Como last week</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<br><br>
<hr>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/350z.jpg" class="img-fluid rounded-start" alt="Nissan 350z">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">350Z Dead or alive??</h5>
        <p class="card-text"> Is the 350Z still relevant in the Jdm market?</p>
        <a href="#" class="btn btn-primary">Read more</a><br>
        <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
      </div>
    </div>
  </div>
</div><hr>





<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}