{% extends "base.html" %}
{% block title %} 
Bishop Blog: The car blog for car lovers by a car lover
{% endblock %}
{% block content %}
  <br><br>
  <h1 style="color:white;">Bishop Blog</h1>
    <p>Here are all the posts</p>
    <div class="card text-center">
      <div class="card-header">
       <h3> Featured Article of the Month</h3>
      </div>
      {% for post in posts %}
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <a href="{{url_for('single_post', id=post.id)}}" class="btn btn-primary">Read more</a>
      </div>
      <div class="card-footer text-muted">
        {{ post.user_name}}
        {{ post.date_created.strftime('%B %d, %Y') }}
      </div>
      {% endfor %}

      
    </div>
{% endblock %}

<br>
<hr>

<!-- <div class="row"> 
    <div class="column">
  <div class="card" style="width: 18rem;">
    <img src="/static/img/ferrari-testarossa.jpg" class="card-img-top" alt=" ferrari-testarossa">
    <div class="card-body">
      <p class="card-text">Review of the ferrari-testarossa</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

<div class="column">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/static/img/jdm_carmeet.jpg" alt="jdm_carmeet">
    <div class="card-body">
      <h5 class="card-title">JDM car meets in Nigeria</h5>
      <p class="card-text">I attended a jdm car meet last week </p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

<div class="column">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/static/img/f1-1990-alain-prost-ferrari.jpg" alt="f1 1990 f1-1990-alain-prost-ferrari">
    <div class="card-body">
      <h5 class="card-title">F1 legends</h5>
      <p class="card-text">Let's talk legends - Schumacer, Prost, Senna</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

<div class="column">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/static/img/car_machine.jpg" alt="mercedes-benz-300sl-gullwing">
    <div class="card-body">
      <h5 class="card-title">Mercedes Benz 300SL Gullwing</h5>
      <p class="card-text">The Mercedes Benz 300SL Gullwing is a classic</p>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div>

<hr>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/porsche-carrera-.jpg" class="img-fluid rounded-start" alt="porsche-carrera-">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">porsche-carrera-</h5>
        <p class="card-text">I wrote about the porsche Mulan now let's talk about the carrera</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
    
  </div>
</div>

<hr>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/traffic_jam.jpg" class="img-fluid rounded-start" alt="traffic_jam">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Driving in Lagos</h5>
        <p class="card-text">Mainland to landmark - twenty minutes at least that's what the map said, I spent Four hours on the road</p>
        <p class="card-text"><small class="text-muted">Last updated 21 mins ago by (username)</small></p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>
<hr>

<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/ferrari-f430.jpg" class="img-fluid rounded-start" alt="ferrari-f430">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Ferrari-f430</h5>
        <p class="card-text">This is a review of the Ferrari Event at Lake Como last week</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>
<br><br>
<hr>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/img/350z.jpg" class="img-fluid rounded-start" alt="Nissan 350z">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">350Z Dead or alive??</h5>
        <p class="card-text"> Is the 350Z still relevant in the Jdm market?</p>
        
        <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div><hr>


<div class="classic_car">
  <h4>CLASSIC CARS</h4> 
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/static/img/1971-lamborghini-miura-sv_1.jpg" class="card-img-top" alt="1971 1971-lamborghini-miura">
      <div class="card-body">
        <h5 class="card-title">1971 Lamborghini Miura</h5>
        <p class="card-text">the miata, the miura brothers from different mothers - cars</p>
      </div>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/img/1968-jaguar-e-type_1.jpg" class="card-img-top" alt="1968-jaguar-e-type_1">
      <div class="card-body">
        <h5 class="card-title">1968 Jaguar E-type</h5>
        <p class="card-text">The new 1968 e-type </p>
      </div>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>

  
  <div class="col">
    <div class="card">
      <img src="/static/img/1972-detomaso-pantera-a.jpg" class="card-img-top" alt="1972-detomaso-pantera-a">
      <div class="card-body">
        <h5 class="card-title">1972 Detomaso Pantera</h5>
        <p class="card-text">The 1972 Detomaso, the holy grail of classic cars</p>
      </div>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/static/img/1968-chevrolet-corvette_1.jpg" class="card-img-top" alt="1968-chevrolet-corvette_1">
      <div class="card-body">
        <h5 class="card-title">1968 Chevrolet corvette</h5>
        <p class="card-text">We all know about the corvette family or as it's known the "vertte" </p>
      </div>
      <a href="#" class="btn btn-primary">Read more</a>
    </div>
  </div>
</div> -->
